.post {
  border: 1px solid var(--border);
  border-radius: var(--radius);
  margin: 0 24px 24px 24px;
  overflow: hidden;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  color: var(--white);
  padding: 24px;
}

.post-body {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.post-header h3 {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
}

.post-meta {
  font-size: 18px;
  color: var(--muted);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.post-meta__name {
  font-weight: 700;
}

.post-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--text);
  margin: 16px 0 0 0;
}

.post-data {
  font-weight: 400;
}

.post-actions {
  display: flex;
  gap: 23px;
}

.post-actions button {
  background: inherit;
  padding: 0;
}
