.feed {
  height: 100%;
  margin: 0 auto;
  padding-bottom: 24px;
}

.feed h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  margin: 0;
  background: var(--primary);
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 27px 37px;
}

.formContainer {
  margin: 24px;
  padding: 24px;
  border: 1px solid var(--border);
  border-radius: var(--radiusModal);
}

.formContainer h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  margin: 0 0 24px 0;
}

.formContainer label {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 8px;
  display: block;
}

.formContainer input {
  margin-bottom: 24px;
}

.create-post {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.create-post button {
  align-self: flex-end;
  background: var(--primary);
  color: var(--white);
  padding: 8px 14px;
}

.formContainer button {
  height: 32px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  background: var(--primary);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  margin-left: auto;
  margin-top: 24px;
}
