.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
}

.modal {
  background: var(--white);
  padding: 24px;
  border-radius: var(--radiusModal);
  width: 100%;
  max-width: 660px;
  min-height: 146px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.modal-actions button {
  height: 32px;
  width: 120px;
  border-radius: var(--radius);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

button.cancel {
  background: transparent;
  border: 1px solid var(--gray);
}

button.danger {
  background: var(--danger);
  color: var(--white);
}

button.save {
  background: var(--green);
  color: var(--white);
}

.formEdit span {
  margin-top: 24px;
  margin-bottom: 8px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.formEdit input,
.formEdit textarea {
  border: 1px solid var(--muted);
}
