.modalContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: var(--radiusModal);
  border: 1px solid var(--border);
}

.signup h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  margin: 0;
}

.signup label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin: 24px 0 8px 0;
}

.signup button {
  margin-top: 16px;
  background: var(--primary);
  color: var(--white);
  margin-left: auto;
  width: 111px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.signup button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
